.left-nav{
    
    .left-nav-header{
        height: 80px;
        display: flex;
        background-color: #001428;
        h2{
            font-size: 20px;
            color: #fff;
            text-align: center;
            margin: auto;
        }
        img{
            margin: auto 20px auto 10px;
        }
    }
}